/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}


.create-set-list {
  margin: 0px 30px 30px 30px;
}

.create-set-list {
  .top-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .save-changes{
    border: none;
    background: none;
    font-size: 32px;
    cursor: pointer;
    padding: 20px 20px;
    color: #444;
  }

  .save-date{
    color: #444;
  }

  .set-title{
    padding: 20px 20px;
    margin: 0;
    flex: 1;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 26px;
    color: #444;
  }

  .equation-container{
    position: relative;
    background-color: none;
    padding: 10px;
  }

  .add-equation-inline-box {
    position: absolute;
    left: 0;
    top: -10px;
    width: 100%;
    height: 20px;
  }

  .add-equation-inline {
    position: absolute;
    top: -10px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    background-color: lightgrey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }

  .add-equation-inline-box:hover .add-equation-inline {
    opacity: 1;
  }

  .equation-content{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .equation-inline{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .katex-display{
    margin: 20px 10px;
  }

  input{
    border: none;
    border-bottom: 2px solid lightgrey;
    border-radius: 0;
    outline: none;
    width: 40%;
    margin: 20px 10px 10px 10px;
  }

  .drag-handle{
    cursor: grab;
    margin: 0;
    padding: 20px;
  }

  .edit-equation{
    cursor: pointer;
    padding: 20px;
    border: none;
    outline: none;
    background-color: transparent;
  }

  .add-equation{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .add-equation button{
    width: 40px;
    height: 40px;
    background-color: lightgrey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
}
