.quiz-box{
	width: 50%;
	margin: 0 auto;
	border: 2px solid #ccc;
	border-radius: 10px;
	height: 400px;
	display: flex;
	flex-direction: column;
}

.maths-box{
	flex: 1;
	display: flex;
  justify-content: center;
  align-items: center;
}

.user-input{
	display: flex;
	flex-direction: column;
	margin: 10px 20px 20px 20px;
/*	padding: 0 20px;*/
}

.user-input input{
 flex: 1;
 border: none;
 outline: none;
 padding: 8px 10px;
 border: 2px solid #ccc;
 border-radius: 10px;
}

.user-input .bottom-box{
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.user-input .bottom-box button{
	background: none;
	border: none;
	cursor: pointer;
	padding: 8px 10px;
	border: 2px solid #ccc;
	border-radius: 10px;
	margin-top: 20px;
}

.user-input .bottom-box button.correct{
	border-color: green;
}

.user-input .bottom-box button.incorrect{
	border-color: red;
}